
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 0px 0px;
    text-align: center;
}
.contenedor h2 {
    text-align: center;
    font-size: 120px;
}
table {
    width: 100%;
}
td.logo {
    text-align: center;
    padding: 10px;
    background-color: #0e0d0d;
    width: 180px;
    border-radius: 5px 48px 48px 5px;
}
td.center {
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1)
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

.menu {
    width: 220px;
    height: 400px;
    background-color: #64b8da;
    padding: 30px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 20px 10px;
}

.menu ul li a {
    border: 2px solid #0e0d0d;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: #080808;
    justify-content: center;
}

.menu ul li a:hover {
    color: #0300b1;
    background-color: #9af384;
}

main {
    width: 60%;
    padding: 15px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}